.hidden {
  background: gray;
}

.clear {
  border: 1px black solid;
}

.mine {
  background: red;
}

.flagged {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.downloadclipart.net%2Fmedium%2F18024-blue-flag-clip-art.png&f=1&nofb=1');
  background-size: cover;
}
